<form class="form-inline" action="/product_items">
  <label for="amount">Bid:</label>
  <input type="text" id="amount"  name="amount"  value="<%= @bidding.amount %>">
  <label for="category">Category:</label>
  <input type="text" id="category" name="category" value="<%= @bidding.category %>">
  <label for="address">Address:</label>
  <input type="text" id="address" name="address" value="<%= @bidding.address.street %>">

  <button type="submit">Submit</button>
</form>

<div class="cards-results-container">
  <div class="cards-results-list">
    <% @products_items.each do |showroom_variant_stock|%>
      <%= link_to product_path(showroom_variant_stock.product), class: 'link-card' do %>
        <div class="card-results-individual">
          <img src="https://source.unsplash.com/collection/3557248/480x480" alt="logo">
          <div class="paragraph">
            <h2><%= showroom_variant_stock.product.name %></h1>
            <p><%= showroom_variant_stock.product.category %></p>
            <p id="address-result"><%= showroom_variant_stock.address %></p>
            <div class="location">
              <i class="fas fa-map-marker-alt"></i>
              <p>2.5 km</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
