<!-- <div>
  <form class="form-inline" style="position: fixed;" action="/showroom_variant_stocks" id="form-results-showroom">
    <div class="form-inline2">
      <label for="amount">Bid:</label>
      <input type="text" id="amount"  name="amount"  value="<%= @bidding.amount %>">
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" value="<%= @bidding.category %>">
    </div>
  </form>
</div> -->
<div class="row justify-content-sm-center justify-content-xs-center" >
  <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6 pr-0">
    <div>
      <% @results.each_with_index do |showroom_variant_stock, index|%>

        <%= link_to showroom_variant_stock_path(showroom_variant_stock), target: :_blank , class: 'link-card' do %>
          <div class="card-results-individual" data-location="<%= @markers[index] %>">
            <div class="d-flex justify-content-start"  style="width: 100%;">
              <div style="width: 160px; height:160px;">
                <%= image_tag showroom_variant_stock.product.photos.first.url_photo,  class:"imgen" %>
              </div>
              <div class="paragraph ml-3">
                <div class="d-flex bd-highlight mb-32">
                  <h2 class="bd-highlight"><%= showroom_variant_stock.product.name %></h2>
                  <div id="logo-results"  >
                    <%= image_tag showroom_variant_stock.showroom.brand.logo %>
                  </div>
                </div>

                <p id="address-result"><%= truncate(showroom_variant_stock.showroom.address.street, :length => 50) %></p>
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="location">
                      <i class="fas fa-map-marker-alt"></i>
                      <p><%= Geocoder::Calculations.distance_between(showroom_variant_stock.showroom.address, @bidding.address).round(2) %> km</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-0">
                  <p class="max-price"><strong>$<%= showroom_variant_stock.product.max_price.round(0) %></strong></p>
                  <p class="pl-3"><strong>$<%= @bidding.amount%></strong></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
    <div
      id="map"
      style="width: 100%;
      height: 700px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
