<div>
  <form class="form-inline" style="position: fixed;" action="/showroom_variant_stocks" id="form-results-showroom">
    <div class="form-inline2">
      <label for="amount">Bid:</label>
      <input type="text" id="amount"  name="amount"  value="<%= @bidding.amount %>">
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" value="<%= @bidding.category %>">
    </div>
  </form>

</div>
<div class="row justify-content-sm-center justify-content-xs-center" style="padding-top:35px;">
  <div class="col-xs-12 col-sm-9 col-md-6 col-lg-5 col-xl-4" style="padding:0px margin:0px 10px">
    <div>
      <% @results.each do |showroom_variant_stock|%>

        <%= link_to showroom_variant_stock_path(showroom_variant_stock), target: :_blank , class: 'link-card' do %>

          <div class="card-results-individual">
            <div class="d-flex justify-content-between">
              <div style="width: 110px; height:110px;">
                <%= image_tag showroom_variant_stock.product.photos.first.url_photo,  class:"imgen" %>
              </div>
              <div class="paragraph">
                <div class="d-flex">
                  <div>
                    <h2><%= showroom_variant_stock.product.name %></h2>
                  </div>
                  <div id="logo-results" style="margin-left:auto">
                    <%= image_tag showroom_variant_stock.showroom.brand.logo %>
                  </div>
                </div>
                <p><%= showroom_variant_stock.product.category %></p>
                <p id="address-result"><%= truncate(showroom_variant_stock.showroom.address.street, :length => 50) %></p>
                <div class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <p><%= Geocoder::Calculations.distance_between(showroom_variant_stock.showroom.address, @bidding.address).round(2) %> km</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-7 col-xl-8" style="padding:0px">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
