<div class="container">
  <div class="row justify-content-md-center">
<!-- IMAGES -->
    <div class="col-xs-12 col-md-8 col-lg-7">
      <div class="row justify-content-md-center">
        <!-- THUMBNAILS -->
        <div class="col-2">
          <div id="img-thumbnails" style="margin-top: 15px;">
            <% @showroom_variant_stock.variant.product.photos.each_with_index do |photo, index| %>
              <%= image_tag photo.url_photo, class: "img-thumbnail product-images #{'greyscale' if index.positive? }" %>
            <% end %>
          </div>
        </div>
        <!-- MAIN IMAGE -->
        <div class="col-xs-8 col-md-7" id="main-image" style="margin-top: 15px;height: 500px; background-size: cover; background-image: url(<%= @showroom_variant_stock.variant.product.photos.first.url_photo %>)">
        </div>
      </div>
    </div>
<!-- DESCRIPTION -->
  <div class="col-xs-12 col-md-5" style="margin-top: 15px;">
    <div class="pl-3">
      <h2><%= @showroom_variant_stock.variant.product.name %></h2>
      <p><%= @showroom_variant_stock.showroom.name %></p>
      <div><p>Color:</p></div>
      <div>
      <!-- PRODUCT VARIANTS -->
        <% @variants_hash.each do |color, values| %>
          <div class="d-flex justify-content-left mx-2 border-bottom-primary">
            <div class="color-circle" style=" background-color: <%= color %>"></div>
            <div class="px-3 mx-3"><p id="p-talle">Talle:</p></div>
            <div class="d-flex">
              <p class="ml-2"  id="p-talle">
                <% values.each do |value| %>
                  <div class="variant_stock size-greyscale mx-3" data-id-product="<%= value[:id] %>"><%= value[:size] %></div>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
          <hr>
      </div>
      <!-- PRODUCT DESCRIPTION -->
      <p class="text-justify"><%= @showroom_variant_stock.variant.product.description %></p>
      <hr>
      <%= link_to "Comprar", new_showroom_variant_stock_purchase_path(@showroom_variant_stock.variant), class: "button-general disable-button-product" %>
      <div class="mt-3">
        <h4>Ubicación:</h4>
        <p class="border-secondary text-justify"><%= @showroom_variant_stock.showroom.address.street %></p>
      </div>
    </div>
  </div>
</div>
</div>





      <%#= simple_form_for(@showroom_variant_stock.variant.product, as: :product, method: :get, url: new_showroom_variant_stock_purchase_path(@showroom_variant_stock.variant)) do |f|%>
<!--         <div class="d-flex justify-content-between">
          <div>
            Color:
            <input type="button" name="color" class="select-color select-color-red">
            <input type="button" name="color" class="select-color select-color-blue">
          </div>
          <div>
            Talle:
            <span>
              <label><input type="radio" name="talle" checked>34</label>
            </span>
            <span>
              <label><input type="radio" name="talle" checked>36</label>
            </span>
            <span>
              <label><input type="radio" name="talle" checked>38</label>
            </span>
            <span>
              <label><input type="radio" name="talle" checked>40</label>
            </span>
          </div>
        </div>
      <hr> -->
    <%# end %>
