<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-2 col-md-1">
      <div >
        <% @showroom_variant_stock.variant.product.photos.each_with_index do |photo, index| %>
          <%= image_tag photo.url_photo, class: "img-thumbnail #{'greyscale' if index.positive? }" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-10 col-md-5" style="background-size: cover; background-image: url(<%= @showroom_variant_stock.variant.product.photos.first.url_photo %>)">
    </div>
  <div class="col-xs-12 col-md-6">
    <div class="pl-md-5">
      <h2><%= @showroom_variant_stock.variant.product.name %></h2>
      <p><%= @showroom_variant_stock.variant.product.category %></p>
      <p><%= @showroom_variant_stock.variant.product.description %></p>
      <%= simple_form_for(@showroom_variant_stock.variant.product, as: :product, method: :get, url: new_showroom_variant_stock_purchase_path(@showroom_variant_stock.variant)) do |f|%>

        <div class="d-flex justify-content-between">
          <div>
            Color:
            <input type="button" name="color" class="select-color select-color-red">
            <input type="button" name="color" class="select-color select-color-blue">
          </div>
          <div>
            Talle:
            <span>
              <label><input type="radio" name="talle" checked>34</label>
            </span>
            <span>
              <label><input type="radio" name="talle" checked>36</label>
            </span>
            <span>
              <label><input type="radio" name="talle" checked>38</label>
            </span>
            <span>
              <label><input type="radio" name="talle" checked>40</label>
            </span>
          </div>
        </div>
      <hr>

          <h4>Ubicación:</h4>
          <p class="border-left border-secondary"><%= @showroom_variant_stock.showroom.address.street %></p>
      <%= link_to "Hacer Oferta", new_showroom_variant_stock_purchase_path(@showroom_variant_stock.variant), class: "button-general"  %>
    <% end %>
    </div>
  </div>
</div>
</div>




