<div class="cards-sumary-container">
  <% current_user.purchases.each do |purchase| %>
    <div class="card-sumary-individual">
       <%= image_tag purchase.showroom_variant_stock.variant.product.photos.first.url_photo %>
      <div class="paragraph">
        <h2> <%=purchase.showroom_variant_stock.variant.product.name %></h2>
        <p>Brand: <%=  purchase.showroom_variant_stock.showroom.brand.name %></p>
        <h3>Color: <%=  purchase.showroom_variant_stock.variant.color %></h3>
        <h3>Talle: <%=  purchase.showroom_variant_stock.variant.size%></h3>
        <h3>Precio: <%= purchase.bidding.amount %></h3>
        <p><%= purchase.showroom_variant_stock.showroom.address.street %></p>
      </div>
  </div>
  <% end %>
</div>
