<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-lg-6 cards-sumary-container">
     <div class="d-flex justify-content-center mb-3"><h2>Realizá tu pago!</h2></div>
     <!-- PRODUCT DETAILS   -->
     <div class="card-sumary-individual">
      <%= image_tag @showroom_variant_stock.variant.product.photos.first.url_photo %>
      <div class="paragraph">
        <h2><%= @showroom_variant_stock.variant.product.name %></h2>
        <h3><%= @showroom_variant_stock.showroom.brand.name%></h3>
        <p><%= @showroom_variant_stock.variant.product.category %></>
          <div class="d-flex justify-content-left my-0 align-items-center">
            <p class="my-0 py-0">Color:</p>
            <p class="color-circle" style=" background-color:   <%= @showroom_variant_stock.variant.color %>"></p>
          </div>
          <div class="d-flex justify-content-left my-0 align-items-center">
            <p class="pb-0">Talle:</p>
            <p class="px-0 pb-0"><%= @showroom_variant_stock.variant.size %></p>
          </div>
          <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= Geocoder::Calculations.distance_between(@showroom_variant_stock.showroom.address, @bidding.address).round(2) %> km</p>
          </div>
        </div>
      </div>
      <!-- OPCION DE ENTREGA -->
      <div class="input-group mt-5">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Opción de entrega</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected></option>
          <option value="1"> Retiro en tienda</option>
          <option value="2">Entrega a domicilio</option>
        </select>
      </div>
      <!-- AMOUNT TO PAY -->
      <div class="my-3" >
        <div class= "d-flex justify-content-between border-bottom border-top pt-3" >
          <p> <strong>Total a pagar</strong></p>
          <p><strong> $<%=@bidding.amount%></strong></p>
        </div>
      </div>
      <!-- MERCADOPAGO -->
      <div class="d-flex justify-content-center my-3">
        <form action="<%= showroom_variant_stock_purchases_path %>" method="post" >
          <script
          src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
          data-elements-color="#0B5FC4"
          data-header-color="#0B5FC4"
          data-public-key="<%= ENV['MP_PRODUCTION_PUBLIC_KEY'] %>"
          data-transaction-amount='<%= @bidding.amount %>'
          data-button-label="Comprar">
          <% if current_user.mp_customer_id %>
          data-customer-id="<%= current_user.mp_customer_id %>"
          data-card-ids="<%= current_user.mp_card_id %>"
          <% end %>
        </script>
      </form>
    </div>

    <div class="d-flex justify-content-between mt-5 pt-5 mx-0">
      <%= image_tag 'https://www.mastercard.com.ar/content/dam/mccom/global/logos/logo-mastercard-mobile.svg', class:"img-card-pay" %>
      <%= image_tag 'https://i.pinimg.com/280x280_RS/b8/d0/62/b8d06229505ae08140d489c821b87747.jpg', class:"img-card-pay" %>
      <%= image_tag 'http://www.brandemia.org/sites/default/files/inline/images/comparacion_amex.gif', class:"img-card-pay" %>
      <%= image_tag 'https://gropp.com.uy/wp-content/uploads/2019/04/MercadoPago.jpg', class:"img-card-pay"%>
    </div>
  </div>
</div>


