<h2><%= @showroom_variant_stock.variant.product.name %></h2>
<%= @showroom_variant_stock.variant.product.photos.each do |photo| %>
<li><%= photo.url_photo %></li>
<% end %>
<p><%= @showroom_variant_stock.variant.product.category %></p>
<p> Color: Red </p>
<p> Talle: Medium </p>

<%= @bidding.amount %>

<h2>Elegí un método de pago</h2>

<%# simple_form_for [@product_item, @purchase] do |f| %>
  <%#= f.input :payment_method, collection: ["Efectivo", "Tarjeta"] %>
<% #end %>
