<div class="container">
  <div class="row justify-content-center">
    <div class=" col-xs-12 col-lg-4 cards-sumary-container">
      <!-- Detalle de Compra -->
      <h2>Detalle del Producto</h2>
      <div class="card-details-individual my-3">
        <%= image_tag @purchase.  showroom_variant_stock.variant.product.photos.first.url_photo %>
        <div class="paragraph">
          <h2 class="mb-0 mt-2"><%=  @purchase.showroom_variant_stock.variant.product.name %></h2>
          <p class="mt-0"><%=  @purchase.showroom_variant_stock.showroom.name%></p>
          <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p><%= Geocoder::Calculations.distance_between(@purchase.showroom_variant_stock.showroom.address, @bidding.address).round(2) %> km</p>
          </div>
        </div>
      </div>
        <!-- ADDRESS DEL SHOWROOM -->
      <div class="d-flex align-center my-5">
        <i class="fas fa-map-marker-alt"></i>
        <p class="ml-1"><%= @purchase.showroom_variant_stock.showroom.address.street %></p>
      </div>
      <!-- BTN GOOGLE MAPS -->
      <div class="my-3">
        <%= link_to "http://www.google.com/maps/place/#{@purchase.showroom_variant_stock.showroom.address.latitude},#{@purchase.showroom_variant_stock.showroom.address.longitude}", target:"_blank" do %>
        <button type="button" class="btn btn-secondary btn-xs">¿Cómo llegar?</button>
        <% end %>
      </div>
      <div class="d-flex">
        <a href="https://cabify.com/es" class="px-2">
        <img src="http://www.brandemia.org/sites/default/files/inline/images/cabify_logo_nuevo_2.png" class="img-uber">
        </a>
        <a href="" class="px-2">
        <img src="https://www.reasonwhy.es/sites/default/files/portada-uber-nuevo-logo.jpg" class="img-uber" >
        </a>
        <a href="https://glovoapp.com/es/sdq" class="px-2">
        <img src="https://pbs.twimg.com/profile_images/902512074311512064/n5tzoJ9i_400x400.jpg" class="img-uber" >
        </a>
      </div>
    </div>
    <!-- UBER -->
    <div class="col-xs-12 col-lg-4">
      <!-- QR DOWNLOAD -->
      <a href="https://api.qrserver.com/v1/create-qr-code/?data=www.exclusiva.xyz&amp;size=150x150" download>
        <div class="d-flex justify-content-center">
          <img src="https://api.qrserver.com/v1/create-qr-code/?data=www.exclusiva.xyz&amp;size=150x150" alt="QR code" title="" class="qr-img" />
        </div>
        <div class="d-flex justify-content-center mt-4 mb-5"><button class="button-general" id="btn-download">Descargar</button>
        </div>
      </a>
      <div>
        <h2 class="">Instrucciones</h2>
        <p class="py-0 my-0">1.- Guardar o descargar la imagen</p>
        <p class="py-0 my-0">2.- Ve a la tienda que figura en la oferta</p>
        <p class="py-0 my-0">3.- Muestra este codigo QR al vendedor</p>
        <p class="py-0 my-0">4.- Retira el producto y disfruta!</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 cards-details-container">
      <!-- SUMARY -->
      <div class="d-flex flex-column align-center">
        <h3 class="mt-4 text-center">Exclusiva</h3>
        <p class="my-3 text-center"> Gracias por usar Excluiva, esperamos haya disfrutado de su compra.</p>
        <div class="d-flex justify-content-between"><p>Cantidad:</p>
          <p>1</p>
        </div>
        <div class="d-flex justify-content-between"><p>Showroom:</p>
          <p><%= @purchase.showroom_variant_stock.showroom.name %></p>
        </div>
        <div class="d-flex justify-content-between"><p>Método de pago:</p>
          <p>Tarjeta</p>
        </div>
        <div class="d-flex justify-content-between"><p>Subtotal:</p>
          <p>$<%= @bidding.amount %></p>
        </div>
        <div class= "d-flex justify-content-between border-top mt-5 py-3" >
          <p> <strong>Total a pagar</strong></p>
          <p><strong> $<%=@bidding.amount%></strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
