<div class="container">
  <div class="row justify-content-center">
    <div class=" col-xs-12 col-lg-4 cards-sumary-container">
        <h2>Detalle del Producto</h2>
      <div class="card-sumary-individual my-3">
        <img src="https://d26lpennugtm8s.cloudfront.net/stores/246/391/products/dsc_54751-4f2499aa13a426007a15700604112508-1024-1024.jpg" alt="logo" class="img-fluid rounded-sm-lg">
        <div class="paragraph">
          <h2><%=  @purchase.showroom_variant_stock.variant.product.name %></h2>
          <p><%=  @purchase.showroom_variant_stock.showroom.name%></p>
        <div class="location">
          <i class="fas fa-map-marker-alt"></i>
          <p>2.5 km</p>
        </div>
      </div>
    </div>
        <p>Cómo llegar?</p>
        <p><%= @purchase.showroom_variant_stock.showroom.address.street %></p>
  </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <img src="https://api.qrserver.com/v1/create-qr-code/?data=www.exclusiva.xyz&amp;size=150x150" alt="QR code" title="" />
    </div>
    <div class="col-lg-4">
      <div class="d-flex flex-column align-center">
      <h3>Exclusiva</h3>
      <p> Gracias por usar Excluiva Camila, esperamos haya disfrutado de su compra</p>
      <p>Cantidad: 1</p>
      <p>Subtotal: <%= @bidding.amount %></p>
      <p>Showroom: <%= @purchase.showroom_variant_stock.showroom.name %></p>
      <p>Método de pago: Tarjeta</p>
    </div>
    </div>
</div>
