<footer class="page-footer font-small cyan darken-3 text-center border-top border-bottom mt-5 d-none d-sm-block">
  <div class="container">
    <div class="row py-5">
      <div class="col-sm-6 col-md-3 pl-4">
        <div class="unit_size text-left pl-3">
          <h3>Nosotros</h3>
          <p><%= link_to "Empleo","#" %></p>
          <p><%= link_to "Noticias","#" %></p>
          <p><%= link_to "Politica","#" %></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 pl-4">
        <div class="unit_size text-left pl-3">
          <h3>Descubrí</h3>
          <p><%= link_to "Vestidos", "#" %></p>
          <p><%= link_to "Camisas","#" %></p>
          <p><%= link_to "Jeans","#" %></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 pl-4">
        <div class="unit_size text-left pl-3">
          <h3>Información</h3>
          <p><%= link_to "Condiciones","#" %></p>
          <p><%= link_to "Privacidad","#" %></p>
          <p><%= link_to "Uso del sitio","#" %></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 pr-0 pl-4">
        <div class="unit_size text-left pl-5 ml-3">
          <h3>Seguinos</h3>
          <p><%= link_to "Instagram","#" %></p>
          <p><%= link_to "Facebook","#" %></p>
          <p><%= link_to "Twiter","#" %></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="page-footer font-small cyan darken-3 text-center border-top border-bottom mt-5  d-sm-none" id="footer-xl">
  <div class="container">
    <div class="row py-5">
      <div class="col 12">
        <div class="footer-info-container-responsive">
          <p class=" border-top " ><%= link_to "Nosotros", "#", class:"text-white" %></p>
          <p class=" border-top " ><%= link_to "Descubrí", "#", class:"text-white"%></p>
          <p class=" border-top " ><%= link_to "Informacion","#", class:"text-white" %></p>
          <p class=" border-top " ><%= link_to "Seguinos", "#", class:"text-white" %></p>
        </div>

      </div>
    </div>
  </div>
</footer>
