<!-- <nav class="navbar navbar-expand-xs navbar-light bg-transparent border-bottom border-white fixed-top">
  <div class="dropdown">
    <i class="fas fa-bars d-block text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <% if user_signed_in? %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Home", root_path, class:"dropdown-item"  %>
        <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </div>
    <% else %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Login", new_user_session_path, class:"dropdown-item"  %>
        <%= link_to "Home", root_path, class:"dropdown-item"  %>
      </div>
    <% end %>
  </div>
  <h1 class="title-text" href="#"> <%= link_to "Exclusiva", root_path, class:"text-decoration-none text-white navbar-title"  %> </h1>
  <div>
    <% if user_signed_in? %>
      <div class="upper-right-box">
        <i class="fas fa-tshirt text-white"></i>
      </div>
    <% else %>
      <div class="d-none d-sm-block">
        <%= link_to "Ayuda", '#', class:"text-decoration-none text-white body-text"  %>
        <%= link_to "Iniciar Sesión", new_user_session_path, class:"text-decoration-none text-white body-text"  %>
        <button class="btn body-text my-2 my-sm-0" type="submit"> <%= link_to "Registrate", new_user_registration_path, class:"btn btn-ghost text-decoration-none text-white"  %></button>
      </div>
    <% end %>
  </div>
</nav>
 -->








<nav class="navbar navbar-expand-xs navbar-light bg-transparent border-bottom border-white fixed-top">
  <div class="dropdown">
    <i class="fas fa-bars d-block text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <% if user_signed_in? %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Home", root_path, class:"dropdown-item"  %>
        <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </div>
    <% end %>
  </div>
  <h1 class="title-text" href="#"> <%= link_to "Exclusiva", root_path, class:"text-decoration-none text-white navbar-title"  %> </h1>
  <div>
    <% if user_signed_in? %>
      <div class="upper-right-box">
        <i class="fas fa-tshirt text-white"></i>
      </div>
    <% else %>
      <div class="d-none d-sm-block">
        <%= link_to "Ayuda", '#', class:"text-decoration-none text-white body-text"  %>
        <%= link_to "Iniciar Sesión", new_user_session_path, class:"text-decoration-none text-white body-text"  %>
        <button class="btn body-text my-2 my-sm-0" type="submit"> <%= link_to "Registrate", new_user_registration_path, class:"btn btn-ghost text-decoration-none text-white"  %></button>
      </div>
    <% end %>
  </div>
</nav>

