<%#if controller_name == 'biddings' && action_name == 'new'%>
  <%# color = 'white' %>
  <%# at_index = '' %>
<%# else %>
  <%# color = 'primary' %>
  <%# at_index = 'not_at_index' %>
<%# end %>

<% color = 'primary' %>
<% at_index = 'not_at_index' %>
<nav class="navbar navbar-expand-xs navbar-light border-bottom border-<%= color %>  <%= controller_name == 'biddings' && action_name == 'new' ? 'bg-transparent negative-margin' : 'bg-white fixed-top' %>">
    <p class="navbar-logo mx-auto" href="#"> <%= link_to "Exclusiva", root_path, class:"text-decoration-none"  %> </p>
  <div class="dropleft">
    <% if user_signed_in? %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Dashboard", dashboard_path, class:"dropdown-item"  %>
        <% if current_user.purchases.empty? %>
        <% else %>
          <%= link_to "Mis compras", purchases_path, class:"dropdown-item"  %>
        <% end %>
        <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </div>
    <% if user_signed_in? %>
        <img src="https://i.ibb.co/bzP5drP/26778.png" class="perchero" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% end %>
    <% else %>
      <div class="d-none d-sm-block">
        <%= link_to "Iniciar Sesión", new_user_session_path, class:"text-decoration-none color-black"  %>
        <button class="btn body-text my-2 my-sm-0 " type="submit"> <%= link_to "Registrate", new_user_registration_path, class:"btn btn-ghost text-decoration-none #{at_index} color-black"  %></button>
      </div>
    <% end %>
  </div>
</nav>
