<div class="container">
  <ul id="columns">
  <div class="draggable-zone">
      <% @brands.each_with_index do |brand, index| %>
        <li id="draggable" class="column brand_order" draggable="true" value="<%= brand.id %>"><%= brand.name %></span></li>
      <% end %>
  </div>
  </ul>
  <%= simple_form_for @bidding, html: { id: "brand_ranks_form" }  do |form| %>
      <%= form.simple_fields_for :brand_ranks do |ff| %>
        <%= ff.hidden_field :order, class:"brand_input" %>
        <%= ff.hidden_field :brand_id, class:"card-brand-ranking"  %>
      <% end %>
    <%= form.submit id: "brand_ranks_submit" %>
    <% end %>
</div>
