
<div class="container">
  <div class="step-by-step">
    <div class="number">
      <span>2</span>
    </div>
    <h2>Ordena las marcas</h2>
    <p>Arrastra tus preferidas al inicio para que te las mostremos primero</p>
  </div>
  <ul id="columns" style="list-style-type:none; padding: 0;">
      <% @brands.each_with_index do |brand, index| %>
      <li class="column brand_order" draggable="true" value="<%= brand.id %>">
        <div class="card-brand-ranking ">
          <div class="logo">
            <img class="logo-draggble"src="<%= brand.logo %>" alt="">
          </div>
        </div>
      </li>
      <% end %>
  </ul>

  <%= simple_form_for @bidding, html: { id: "brand_ranks_form" }  do |form| %>
    <%= form.simple_fields_for :brand_ranks do |ff| %>
      <%= ff.hidden_field :order, class:"brand_input" %>
      <%= ff.hidden_field :brand_id  %>
    <% end %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <div class="step-by-step">
            <h2>Ingres치 tu Ubicaci칩n</h2>
            <p>Te mostraremos las ofertas m치s cercanas a tu ubicaci칩n</p>
          </div>
          <%= form.simple_fields_for Address.new do |ff| %>
            <div class="my-5"><%= ff.input :street, input_html: { class: "cta-location-input"}, id: "location_street", label: false, placeholder: "e.g. Av. Santa Fe 1500" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 d-flex justify-content-center"><%= form.submit "Continuar", id: "brand_ranks_submit", class: "button-ranks button-general size-greyscale button-disabled" %></div>
      </div>
    </div>
  <% end %>
</div>
