<h2>Category</h2>

<%= simple_form_for(@bidding) do |b| %>

	<%= b.input :category %>
  <%= b.submit %>
<% end %>

<%= link_to "Avanzar", brands_biddings_path  %>

<div class="step-by-step">
  <div class="number">
    <span>2</span>
  </div>
  <h2>Elegí la Categoría</h2>
  <p></p>
</div>

<!-- CARDS CATEGORY  -->

<div class="cards-bidding">
  <% 8.times do %>
    <div class="card-bidding-category">
      <div>
        <img class="photo" src="https://gloimg.drlcdn.com/L/pdm-product-pic/Clothing/2018/10/12/goods-img-app/1539716058960958979.jpg" alt="vestidos">
      </div>
      <p>Category</p>
      <%= image_tag 'circle.png', class: 'circle'%>
    </div>
  <% end %>
</div>
<br>
