<div class="step-by-step">
  <div class="number pt-3">
    <span>2</span>
  </div>
  <h2>Elegí la Categoría</h2>
  <p></p>
</div>

<!-- CARDS CATEGORY  -->
<div class="container" id="button-transparent">
  <div class="cards-bidding">
    <div class="card-bidding-category element-to-enable" data-category="shoes">
      <div>
        <%= image_tag "https://static.zattini.com.br/produtos/sandalia-bottero-salto-grosso-laser/70/D96-0612-070/D96-0612-070_zoom1.jpg?ims=544x", class: 'photo'  %>
      </div>
      <p>Zapatos</p>
    </div>
    <div class="card-bidding-category element-to-enable" data-category="dress">
      <div>
        <%= image_tag "https://zefinka.com/assets/images/resources/5841/564x/sleeveless-dot-print-dress-women-2019-new-summer-casual-loose-dress-plus-size-cute-thin-o-0.jpg", class: 'photo'  %>
      </div>
      <p>Vestidos</p>
    </div>
    <div class="card-bidding-category element-to-enable" data-category="shirts">
      <div>
        <%= image_tag "https://www.camisetasymoda.es/23756-large_default/camisa-manga-corta-heritage-mujer-de-b-c.jpg", class: 'photo'  %>
      </div>
      <p>Camisas</p>
    </div>
    <div class="card-bidding-category element-to-enable" data-category="jeans">
      <div>
        <%= image_tag "https://laropa.store/1565-large_default/jeans-mujer-levanta-cola-push-up-elastano-15-30017.jpg", class: 'photo'  %>
      </div>
      <p>Jeans</p>
    </div>
    <div class="card-bidding-category element-to-enable" data-category="accessories">
      <div>
        <%= image_tag "https://media.herworld.com/public/2019/01/image/luxury_accessories.jpg", class: 'photo'  %>
      </div>
      <p>Accesorios</p>
    </div>
  </div>
</div>
<!-- END CARD CATEGORY -->
<div class="text-center mt-3">
  <%= simple_form_for(@bidding) do |b| %>
    <%= b.hidden_field :category %>
    <%= b.submit "Continuar", class:"location_submit button-disableable button-disabled size-greyscale" %>
  <% end %>
</div>
