<div class="search-background">
  <div id="probando">
    <div class="textAnimation">
      <div>
        <span>VOS ELEGÍS EL PRECIO AL QUE QUERÉS COMPRAR TU ROPA!</span>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:-45vh">
  <div class="container mt-3">
    <div class="row justify-content-md-around px-4">
      <div class="col-2 col-md-2 col-lg-2 py-md-2">
        <div class="button_cont" align="center"><span class="example_e" href="add-website-here" target="_blank" rel="nofollow noopener">Ingresá tu Oferta</span></div>
      </div>
      <div class="col-8 col-md-8 col-lg-4 cta-search-wrapper py-md-2">
        <%= simple_form_for(@bidding) do |f| %>
          <div class="d-flex justify-content-between align-content-center">
            <%= f.input :amount, input_html: {class: "cta-search-input mt-2", rows:5, style: 'height:30px !important;'}, label: false, autofocus: true %>
            <span class="cta-search-input mx-3">$ </span>
            <%= f.hidden_field :category %>
            <%= f.submit "Continuar", class:"button-search button-disableable button-disabled size-greyscale" %>
          </div>
        <% end %>
      </div>
      <div class="col-2 col-md-2 col-lg-2 py-md-2">
        <div class="button_cont" align="center"><span class="example_e" href="add-website-here" target="_blank" rel="nofollow noopener">Elegí una categoría</span></div>
      </div>
    </div>
  </div>



  <!-- CARDS CATEGORY  -->
  <div class="container mt-3" id="button-transparent">
    <div class="cards-bidding">
      <div class="card-bidding-category element-to-enable" data-category="shoes">
        <div>
          <%= image_tag "https://static.zattini.com.br/produtos/sandalia-bottero-salto-grosso-laser/70/D96-0612-070/D96-0612-070_zoom1.jpg?ims=544x", class: 'photo'  %>
        </div>
        <p>Zapatos</p>
      </div>
      <div class="card-bidding-category element-to-enable" data-category="dress">
        <div>
          <%= image_tag "https://zefinka.com/assets/images/resources/5841/564x/sleeveless-dot-print-dress-women-2019-new-summer-casual-loose-dress-plus-size-cute-thin-o-0.jpg", class: 'photo'  %>
        </div>
        <p>Vestidos</p>
      </div>
      <div class="card-bidding-category element-to-enable" data-category="shirts">
        <div>
          <%= image_tag "https://www.camisetasymoda.es/23756-large_default/camisa-manga-corta-heritage-mujer-de-b-c.jpg", class: 'photo'  %>
        </div>
        <p>Camisas</p>
      </div>
      <div class="card-bidding-category element-to-enable" data-category="jeans">
        <div>
          <%= image_tag "https://laropa.store/1565-large_default/jeans-mujer-levanta-cola-push-up-elastano-15-30017.jpg", class: 'photo'  %>
        </div>
        <p>Jeans</p>
      </div>
      <div class="card-bidding-category element-to-enable" data-category="accessories">
        <div>
          <%= image_tag "https://media.herworld.com/public/2019/01/image/luxury_accessories.jpg", class: 'photo'  %>
        </div>
        <p>Accesorios</p>
      </div>
    </div>
  </div>
</div>
<!-- END CARD CATEGORY -->

<div class="text-center mt-4 d-none d-md-block">
  <h5 class="title-text2" style="color:white; background-color:black; padding:10px 0px; font-size: 16px;">TE MOSTRAREMOS OFERTAS UNICAS, EXCLUSIVAS Y MOMENTANEAS</h5>
</div>

