<div class="navbar-filters d-flex justify-content-between align-items-center m-3 border-bottom border-white">
  <form action="" class="form_oferta">
    <%= form_for :@bidding do |f| %>
      <div>
        Presupuesto: <%= f.text_field :amount, disabled: true %>
      </div>
      <div>
        Categoria: <%= f.text_field :category, disabled: true %>
      </div>
      <div>
        Marcas: <%= f.select :brands, ["Clifftone", "Mango", "Vitamina"] %>
      </div>
      <div>
        Ubicacion  : <%= f.text_field :address, disabled: true%>
      </div>
      <div>
        <%= f.submit "Buscar Oferta", class: "btn btn-primary" %>
      </div>
    <% end %>
  </form>
</div>
<div class="product-container">
  <div class="product-cards">
    <%20.times do%>
    <div class="card">

    </div>
    <% end %>
  </div>
  <div class="map">
  </div>
</div>
