<div class="navbar-filters d-flex justify-content-between align-items-center m-3 border-bottom border-white">
  <form action="" class="form_oferta">
    <%= form_for :@bidding do |f| %>
      <div>
        Presupuesto: <%= f.text_field :amount, disabled: true %>
      </div>
      <div>
        Categoria: <%= f.text_field :category, disabled: true %>
      </div>
      <div>
        Marcas: <%= f.select :brands, ["Clifftone", "Mango", "Vitamina"] %>
      </div>
      <div>
        Ubicacion  : <%= f.text_field :address, disabled: true%>
      </div>
      <div>
        <%= f.submit "Buscar Oferta", class: "button-general" %>
      </div>
    <% end %>
  </form>
</div>

<div class="cards-results-container">
  <div class="cards-results-list">
    <% @products.each do |product|%>
    <div class="card-results-individual">
      <img src="https://conocedores.com/wp-content/uploads/2019/02/zara-new-logo-06022019in2.png" alt="logo">
        <div class="paragraph">
          <h2><%= product.name %></h1>
          <p><%= product.category %></p>
          <p><%= product.address %></p>
          <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p>2.5 km</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
